<!DOCTYPE HTML>
<html>
<head>
    <title>Live-Comments</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Socket IO -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            // Set namespace to broadcast messages to
            namespace = '/test';

            // Connect to the Socket.IO server.
            var socket = io(namespace)

            // Event handler for new connections.
            // A callback func used when a connection with server is established
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'Connection established!'});
            });

            // Event handler for data is emited from the server
            // Comments emited by the server are displayed in "Comments" section
            socket.on('my_response', function(msg, cb) {
                console.log('# Server response: ', msg);
                // Append new comment (broadcasted) to Comments list
                $('#entries').append('<li class="comment list-group-item">' + msg.data + '</li>');
                if (cb)
                    cb();
            });

            // Handlers from input from user and uses socket to emit data to server
            $('form#comments').submit(function(event) {
                payload = {
                    title: $('#cm-name').val(),
                    text: $('#cm-text').val()
                }
                console.log('# Payload: ', payload);
                socket.emit('my_comments_event', {data: payload});
                return false;
            });
        });
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
            <h1>Comments App</h1>
            <h2>Comments</h2> 
            <div>
                <ul id="entries" class="list-group-flush">
                    {% for comment in entries %}
                        <li class="comment list-group-item">
                            {{ comment.uid }} - {{ comment.title }} - {{ comment.text|safe }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <h2>Leave a comment</h2>
            <form id="comments" method="POST">
                <div class="form-group">
                    <label for="cm-name">Your Name</label>
                    <input type="text" class="form-control" id="cm-name" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="email">Your Email</label>
                    <input type="email" class="form-control" id="cm-email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="cm-text">Your Comment</label>
                    <textarea type="text" class="form-control" id="cm-text" placeholder="Enter comment"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" value="comments">Submit</button>
            </form>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
</body>
</html>
