body {
    font-family: sans-serif;
    padding: 2%;
    background: #f6f5f0;
}
  
  a {
    color: #be4554;
  }
  
  h2 {
    /* color: #377BA8; */
    margin: 5px;
  }

  .comments-list div {
    margin: 5px;
  }

  .form-div div {
    margin: 5px;
  }
  
  #entries tr td:nth-child(1) {
    width:30%;
 }
   
  .error {
    background: #F0D6D6;
    padding: 0.5em;
  }