<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            // Set namespace to broadcast messages to
            namespace = '/test';

            // Connect to the Socket.IO server.
            var socket = io(namespace)

            // Event handler for new connections.
            // A callback func used when a connection with server is established
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'Connection established!'});
            });

            // Event handler for data is emited from the server
            // Comments emited by the server are displayed in "Comments" section
            socket.on('my_response', function(msg, cb) {
                $('#comments-list').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });

            // Handlers from input from user and uses socket to emit data to server
            $('form#comments').submit(function(event) {
                socket.emit('my_comments_event', {data: $('#comments_data').val()});
                return false;
            });



        });
    </script>
</head>
<body>
    <h1>Comments App</h1>
    <h2>Comments</h2>
    <div id="comments-list"></div>   
    <h2>Leave a comment</h2>
    <form id="comments" method="POST" action='#'>
        <input type="text" name="comments_data" id="comments_data" placeholder="Message">
        <input type="submit" value="comments">
    </form>
    
</body>
</html>
